:root{
   /* --background-base-color: #F8FAF9;
    --Celadon: #3F482C;
    --font-color:#F8FAF9;
    --frame-color: #2F362F;*/
    --background-base-color: #ffffff;
    --dark-green-color: #2c1703 ;
    --light-green-color: #946A44;
    --font-color:#2D3331;
    --frame-color: #D9AD93 ;
    --navbar-margin:56px;
    /*
    kutyás palette:
    5E372B
    EEDBC1
    D8AB83
    758147
    2D2F0A
    */
}
.input{
    margin-left: 10px;
}
.btn-confirm{
    background-color: #3ed2e5;
    border: none;
    box-shadow: 1px 1px 4px #47939b;
    color: #d9e0ea;
    margin: 5px;
}
.btn-confirm:hover{
    animation-name: btn-hover;
    animation-duration: 0.2s;
    background-color: aquamarine;
    position: relative;
    border: none;
    box-shadow: 0 0 15px 3px aliceblue;
    transform: scale(105%);
    color: white;
    /*  width: 430px;
      height: 420px;
      background-image: image("https://http.cat/200");
      position: absolute;
      animation-name: spinner-grow;
      animation-duration:10s;
      animation-iteration-count: infinite;*/
}
.btn-confirm:active{
    background-color: red;
}



/*
https://png.pngtree.com/background/20210714/original/pngtree-cartoon-fox-lion-giraffe-owl-animal-background-picture-image_1236670.jpg
"https://img.freepik.com/free-vector/hand-drawn-wildlife-background_52683-85493.jpg?w=996&t=st=1707817595~exp=1707818195~hmac=afed48ae78fb9b929927574cc62bc5c009c94497623e3262d7a92a56eae6abc6
https://img.freepik.com/free-vector/hand-drawn-world-animal-day-background_23-2149060909.jpg?w=740&t=st=1707817714~exp=1707818314~hmac=6cc841e8219e3d8c1ea4cb1a59d2b527971fbe5397b10d617df8d167bedaa63b
https://img.freepik.com/premium-vector/animals-banner-vector-illustration_29937-1.jpg?w=360*/
body{
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}
.color{
    /*background: var(--bgColor);*/
    /*background-image: url("https://img.freepik.com/free-vector/wild-fun-animal-paw-print-pattern-background-design-vector_1017-47618.jpg");
    background-color: #eeffe2;
    background-blend-mode: lighten;*/
    background-color: var(--background-base-color);

}
.image{
    background-image: url("assets/login_bg.jpg");
}
.login{
    width: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
}
input{
    font-size: 14px;
    padding: 5px;
}
label{
    font-size: 12px;
    display: block;
}
/*.loginLabel{
    display: block;
    margin: auto;
    width: 100%;
}
.loginInput{
    display: block;
    margin: auto;
}*/
.aaa{
    justify-content: space-around;
}
h1{
    text-align: center;
    font-family: Cambria, serif;
    border-bottom: 1px solid black;
}
.body-h1{
    color: var(--font-color);
    border-bottom: 2px solid var(--font-color);
    height: 37px;
    font-size: 30px;
}
.form-control.login , .form-control.register{
    background-color: rgba(104, 188, 211, 0.78);
    box-shadow: 1px 1px 6px dimgrey;
}
.required-field{
    color: red;
    font-size: 14px;
}
.navbar{
    background-color: var(--light-green-color);
    box-shadow: 1px 1px 5px 0.5px var(--dark-green-color);
}
.nav-link{
    color: var(--dark-green-color)!important;
}
.nav-link.active{
    color: var(--background-base-color) !important;
}
.signout{
    border: 0;
    background-color: #f9f9f9;
}
.navbar-contentus{
    display: flex;
    align-items: center;
}
.loginBtn{
    border: 1px solid var(--dark-green-color);
    margin-left: 5px;
    position: relative;
}

.loginBtn:hover{
    background-color: var(--dark-green-color);
    background-blend-mode: hue;
    color: var(--frame-color);
}
.profilePicture{
    border-radius: 50%;
    object-fit: cover;
}
.dropdown{
    position: relative;
    display: inline-block;
    border: 5px solid transparent;
}
.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 8px;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    width: 200px;
    right: 10%;
    border-radius: 3px;
    align-content: center;
}
.dropdown-content .textarea{
    text-align: center;
}
.dropdown-content::after{
    content: "";
    position: absolute;
    bottom: 100%;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #f9f9f9 transparent;
    left: 90%;

}
.dropdown-content a{
    margin-left: 10%;
    color: dimgray;
}
.dropdown-content h5{
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}
.dropdown-content p{
    text-align: center;
}

.dropdown-content div{
    display: flex;
    align-content: center;
    margin: auto;
    width: 70px;
    padding: 3px;
}
.dropdownProfile{
    width: 100%;
}
.card-img{
    object-fit: cover;
    width: 100%;
    height: 500px;
}
.carousel-card{
    border-radius: 0;
    --bs-card-inner-border-radius: 0;
    --bs-card-border-color: none;
}
.carousel-control-prev{
    top: 45%;
    height: 50px;
}
.carousel-control-next{
    top: 45%;
    height: 50px;
}
.content-card{
    width: 18rem;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    animation: ease-in;
    animation-duration: 100ms;
    animation-name: card-hover-out;
}
.content-card:hover{
    animation: ease-out;
    animation-duration: 100ms;
    animation-name: card-hover-in;
    transform: scale(103%);
}
.navbar-fixed-top{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
    margin-bottom: 30px;
}
.carousel{
    padding-top: var(--navbar-margin);
    padding-bottom: 50px;
}
@media screen and (max-width: 1200px){
    .login{
        width: 50%;
    }
}


.ho{
    margin-top: 20px;
    width: 100%;
    top: 50%;
    left: 50%;
}
div{
    display: block;
}

.testImg{
    box-sizing: border-box;
    overflow-clip-margin: content-box;
    overflow: clip;
    height: 103.5px;
    left: 20%;
    position: absolute;
    top: 1px;
    transform: translateX(-50%);
    width: auto;

}
.testImg:hover{
    animation: alternate;
    animation-duration: 10ms;
    animation-iteration-count: infinite;
    animation-name: hamster-tremble;
}
.hhh{
    padding-top: 40px;
}
.footer-container{
   /* background-color: rgb(162, 255, 36);*/
    margin-top: 10px;
    background-color: var(--light-green-color);
    background-image: url("https://www.hartney.com/media/f4vbo3wc/when-is-the-best-time-to-grow-grass.jpg?width=1920&height=672&rnd=133052167425230000&format=webp&quality=45");
    background-blend-mode: darken;

}
footer.my-4{
    margin-top:0!important;
    margin-bottom: 0!important;
}
.text-body-secondary{
    color: var(--dark-green-color)!important;
}
.adoptionBody{
    padding-top: var(--navbar-margin);
}
.adoptionImage{
    width: 100%;
    /*
        filter: brightness(80%);
     */
}
/*
.adoptionImageOverlayText{
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    color: #ffffff;
    text-shadow: 0 0 12px white;
}
*/
.adoptionBody >.form-control >input{
    margin: auto 5px auto 5px;
}.adoptionBody >.form-control >select{
    margin: auto 5px auto 5px;
}
 .adoptionBody .form-control .container-fluid{
     display: flex;
     align-items: center;
 }
.filterInput{
    width: 100%;
}
 .filter{
     padding: 0;
     margin: 0;
     background-color: var(--background-base-color);
     width: 20%;
     height: auto;
     border-right: 1px solid lightgray;
 }
.adoptionBody .filter .form-control{
    display: block;
    box-shadow: none;
    border-radius: 0 0 10px 0;
    padding: 15px 0;
    position: sticky;
    top:56px;
    border: 0;
}
.checkbox-labels{
    font-size: 14px;
    width: 50%;
}
.checkbox-labels p{
    font-size: 14px;
    width: 50%;
    margin: auto;
    text-align: center;
}
.filter-section{
    margin: 15px;
    padding: 0;
    display: flex;
    align-content: center;
    width: auto;
}
#checkBoxContainer label input{
    height: calc(69px / 4.20);
    width: calc(69px / 4.20);
    display: flex;
    margin: auto;
}

 #adoptionFilterButton{
    background-color: #ffffff;
     border-radius: 14px;
     margin-top: 20px;
 }
#animal-search-bar{
    margin-top: auto;margin-bottom: auto;
}

.row{
    margin: auto;
}
.animal-card{
    margin: 3px;
    width:13rem;
    background-color: #fffff9;
    animation: ease-in;
    animation-duration: 100ms;
    animation-name: card-hover-out;
    font-size: small;
    overflow: hidden;
}
.paws{
    z-index: 0;
    filter:
        grayscale(0%)
        opacity(0)
        sepia(100);
    opacity: 100%;
    width: 50px;
    position: absolute;
}
#paw{
    transform: rotate(35deg);
    top: 86%;
    left: 32%;
}#paw2{
    transform: rotate(35deg);
    top: 77%;
    left: 66%;
}#paw3{
    transform: rotate(35deg);
    top: 56%;
    left: 52%;
}#paw4{
    transform: rotate(35deg);
    top: 46%;
    left: 86%;
}

.card-body{
    padding: 5px;
    z-index: 1;
}
.animal-card:hover{
    background-color: #f1f1f1;
    cursor: pointer;
}
.animal-card:hover .paws{
    filter: opacity(0%);
}
.animal-card:hover #paw{
    animation: walk 3s linear infinite 0.25s;
}.animal-card:hover #paw2{
    animation: walk 3s linear infinite 0.50s;
}.animal-card:hover #paw3{
    animation: walk 3s linear infinite 0.75s;
}.animal-card:hover #paw4{
    animation: walk 3s linear infinite 1s;
}
@keyframes walk {
    /* appear */
    50% {
        filter:
                brightness(0)
                opacity(25%);
    }
    /* disappear */

}
.selectedImage{
    width: 100%;
    height: 500px;
    object-fit: cover;
    margin: 0;
}
.petCardName{
    border-bottom: 1px solid gray;

}
#breedDescription{
    margin: 0 0 10px 10px;
    border: 2px solid darkgreen;
    background-color: #e5ffbe;
    border-radius: 5px;
    padding: 10px;
}
#status > span.INSHELTER{
    color: limegreen;
}#status > span{
    color: black;
}
 p > q{
     font-style: italic;
     margin: 5px;
 }
 .selectedPet-content >h2{
     margin-top: 10px;
 }
.animal-img{
    height: 10rem;
    width: 100%;
    padding-top: 10px;
    z-index: 1;
}
.animal-list{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #ccfff7;
    color: red;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}
.notFoundDiv{
    color: red;
    text-align:center;
    font-size: 20px;
    margin: 10px auto auto;
    font-family: "Amiri Quran", serif;
}
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #ccfff7 transparent transparent transparent;
}
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}
.gone{
    display: none!important;
}
.ungone{
    display: initial;
}
/* EditProfile page css */
.locationDiv{
    border: 1px solid gray;
    margin: 10px 10px 10px 10px;
    padding: 10px;
}
.locationDiv .row{
    margin-top: 10px;
}
.inputWithoutBorder{
    border: 0;
    margin-top: 5px;
    font-size: 16px;
    padding: 0;
    white-space: pre;
}
.locationDiv .row p{
    vertical-align: center;
    margin: auto;
}
.notAddedText{
    color: gray;
    font-style: italic;
}
.wrapper-div{
    /*
    height: auto;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
    */
    position: relative;
    text-align: center;
    color: white;
}
.wrapper-div p {
    display: none;
    cursor: default;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.textarea{
    resize: none;
    border: 0;
    height: auto;
    horiz-align: center;
    width: 100%;
    margin: auto;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.bigProfileImage{
    max-width: 350px;
    max-height: 350px;
    border-radius: 50%;
    object-fit: cover;
}
.imageChangeText{
    display: none;
    color: white;
}
.bigProfileImage:hover{
    filter: brightness(60%);
}
.bigProfileImage:hover + .imgOverlayText {
    display: block;
}
#fileInput{
    display: none;
}
.nameHere{
    background-image: url("https://media.istockphoto.com/id/1328689113/photo/summer-blue-sky-and-white-cloud-white-background-beautiful-clear-cloudy-in-sunlight-calm.jpg?s=612x612&w=0&k=20&c=37qEuwdxyQSx9kuS-_Gz0WiKFX6jMXZN9aRY47mN2vI=");
    background-size: cover;
    margin-bottom: 25%;
    padding: 30px;
    max-height: 228px;
}
.userDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    max-width: 350px;
}
.userName, .measure{
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
    font-size: 20px;
    border: 0;
    padding: 0;
    white-space: pre;
}
.measure{
    position: absolute;
    left: -9999px;
    top: -9999px;
}
.submitChanges{
    position: fixed;
    bottom:0;
    width: 100%;
    display: flex;
    background-color: rgba(62, 210, 229, 0.64);
    padding: 4px;
    align-items: center;
    min-height: 6%;
}
.submitChanges p{
    margin: auto 0;
}
.submitChanges button{
    position: relative;
    right: 4%;
    margin-left: auto;
    border-radius: 5px;
    border: 1px solid deepskyblue;
    background-color: cornflowerblue;
}
.noSelect{
    cursor: default;
}
.noSelect:focus-visible{
    outline: 0;
}
.help{
    display: inline-block!important;
}
.editImg{
    border-bottom: 1px solid black;
    cursor: pointer;
    margin-left: 5px;
    vertical-align: top;
    margin-top: 6px;
    position: absolute;
}
.plusButton{
    border: 0;
    vertical-align: top;
    height: 50%;
    background-color: transparent;
    color: red;
    justify-self: end;
}
.table-borderless{
    margin: 0;
}
.table-borderless td{
    padding: 2px;
}
.profileBody{
    margin-top: var(--navbar-margin);
}
/* EditProfile page css */

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
@media screen and (max-width: 540px) {
    .login{
        width: 100%;
    }
    .card-img{
        height: 250px;
    }
    .testImg{
        height: 70px;
    }
    .hhh{
        padding-top: 16px;
    }
}

@media screen and (max-width: 576px) {
    .animal-card{
        margin: 10px auto;
    }
    .filter{
        width: 100%;
    }
    .loginBtn{
        position: initial;
    }
    .logregButtons{
        position: relative;
        left: 68%;
    }
    .profileImageDiv{
        position: relative;
        left: 91%;
    }
}
@keyframes card-hover-in {
    from{
        transform: scale(100%);
    }
    to{
        transform:scale(103%);
    }
}@keyframes card-hover-out {
     from{
         transform:scale(103%);
     }
     to{
         transform: scale(100%);
     }
 }
@keyframes hamster-tremble {
    to{
        rotate: 2deg;
    }
}
@keyframes btn-hover {
    from{
        background-color:rgb(13,202,240);
        transform: scale(100%);
        box-shadow: 0 0 0 0 aliceblue;
        color: #d9e0ea;
    }
    to {
        background-color: aquamarine;
        transform: scale(105%);
        box-shadow: 0 0 15px 3px aliceblue;
        color: white;
    }
}










/*.rotatingDiv{
  width: 430px;
  height: 420px;
  position: relative;
  animation-name: example,spinner-grow;
  animation-duration:5s;
  animation-direction: reverse;
  animation-iteration-count: infinite;
}
.rotatingBackwardsDiv{
  width: 430px;
  height: 420px;
  position: relative;
  animation-name: example,spinner-grow;
  animation-duration:100s;
  animation-iteration-count: infinite;
}*/
/*@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:400px; top:0px;}
  50%  {background-color:blue; left:400px; top:400px;}
  75%  {background-color:green; left:0px; top:400px;}
  100% {background-color:red; left:0px; top:0px;}
}
@keyframes spinner-grow {
  from{transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}
@keyframes img-grow {
  from{transform: scale(0%);}
  to{transform: scale(100%);}
}*/
